{% set active_page = 'gm_tools' %}
{% set active_side_nav_bar = 'controls' %}
{% extends 'layout.html' %}
{% block page_content %}
    {% block flash_message %}
        {{ super() }}
    {% endblock %}
    <hr>
    <div class="container">
    <div class="row">
        <div class="col-sm-10"><h1>{% if profile['name'] != null %}
            {{ profile['name']|e }}
        {% else %}Anonymous
        {% endif %}-{{ profile['uuid']|e }}</h1></div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image"
                                                                       class="img-circle img-responsive"
                {#                                                                           src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>#}
                                                                       src="{% if profile['image_url'] != '' %}
                                                                                   {{ profile['image_url']|e }}
            {% else %}
                                                                           http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100
                                                                           {% endif %}"></a>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-3"><!--left col-->

        <ul class="list-group">
            <li class="list-group-item text-muted">Online Status</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Server ID</strong></span>
                {% if profile['dynamic_info']['gameServerId'] != null %}
                    {{ profile['dynamic_info']['gameServerId']|e }}</li>
                {% else %}
                    0
                {% endif %}
            <li class="list-group-item text-right"><span class="pull-left"><strong>Online</strong></span>
                {% if profile['dynamic_info']['online'] != null %}
                    {{ profile['dynamic_info']['online']|e }}
                {% else %}
                    offline
                {% endif %}
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item text-muted">Information<i class="fa fa-dashboard fa-1x"></i></li>
            {% for key in profile["static_info"] %}
                <li class="list-group-item text-right"><span
                        class="pull-left"><strong>{{ key|e }}</strong></span>
                    {{ profile['static_info'][key]|e }}
                </li>
            {% endfor %}
        </ul>
    </div><!--/col-3-->
    <div class="col-sm-9">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="table-responsive">
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item text-right"><span
                                class="pull-left"><strong>{% if profile['suspended'] != null and profile['suspended'] == true %}
                            CURRENT STATE - LOCKED{% else %}
                            CURRENT STATE - UNLOCKED{% endif %}</strong></span>
                            <div class="btn-group" id="user_suspend" data-toggle="buttons">
                                <label hidden class="hidden">{{ profile['uuid']|e }}</label>
                                <label class="btn btn-success">
                                    <input type="radio" name="options" value="option-unlock" autocomplete="off"
                                           {% if profile['suspended'] == null or profile['suspended'] == false %}checked{% endif %}>
                                    UNLOCKED
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="options" value="option-lock" autocomplete="off"
                                           {% if profile['suspended'] != null and profile['suspended'] == true %}checked{% endif %}>
                                    LOCKED
                                </label>
                            </div>
                        </li>
                    </ul>
                    <hr>
                </div><!--/table-resp-->

                <hr>

                <h4>Recent Activity</h4>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> Today
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        $("#user_suspend .btn").on("click", function () {
            var selText = $(this).text();
            var id = $(this).children().val();
            do {
                if (id != 'option-lock' && id != 'option-unlock')
                    break;
                var url;
                if (id == 'option-lock') {
                    url = $SCRIPT_ROOT + "/gm/lock_player/" + $(this).parents('.btn-group').find('.hidden').text();
                } else {
                    url = $SCRIPT_ROOT + "/gm/unlock_player/" + $(this).parents('.btn-group').find('.hidden').text();
                }
                $.ajax({
                    type: 'get',
                    url: url,
                    async: false,
                    success: function (json) {
                        var return_val = eval('(' + json + ')');
                        if (return_val['code'] != 0) {
                            alert('failed to unlock player,plz try again!');
                        }
                    },
                    error: function () {
                        alert('request failed,plz try again!');
                    }
                });
            } while (false);
            $(this).parents('.list-group').find('.pull-left').html('<strong>CURRENT STATE - ' + selText + '</strong>');
        })
    </script>
    <script src="{{ url_for('.static', filename='profile.js') }}"></script>
{% endblock %}