{% if current_user.authority == 'admin' %}
    {% set side_nav_bar = [
    (url_for('.gm_tools'), 'overview', 'GM broadcast'),
    (url_for('.gm_tools_activity'), 'activity', 'activity'),
    (url_for('.gm_tools_announcement'), 'announcement', 'announcement'),
    (url_for('.gm_tools_sp_facility'), 'sp_facility', 'sp_facility'),
    (url_for('.gm_tools_system_mail'), 'system mail', 'system mail'),
    (url_for('.gm_tools_controls'), 'controls', 'controls'),
    (url_for('.gm_tools_account_manage'), 'account manage', 'account manage'),
] %}
{% else %}
    {% set side_nav_bar = [
    (url_for('.gm_tools'), 'overview', 'GM broadcast'),
    (url_for('.gm_tools_activity'), 'activity', 'activity'),
    (url_for('.gm_tools_announcement'), 'announcement', 'announcement'),
    (url_for('.gm_tools_sp_facility'), 'sp_facility', 'sp_facility'),
    (url_for('.gm_tools_system_mail'), 'system mail', 'system mail'),
    (url_for('.gm_tools_controls'), 'controls', 'controls'),
    (url_for('.gm_tools_controls'), 'controls', 'controls'),
] %}
{% endif %}
{% extends 'side_nav_bar_layout.html' %}
{% block pop_up %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                    {% block edit_account_form %}
                        {{ super() }}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}