{% set active_page = 'gm_tools' %}
{% set active_side_nav_bar = 'overview' %}
{% extends 'gm_tools_layout.html' %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='bootstrap-markdown/css/bootstrap-markdown.min.css') }}"
          rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block main_content %}
    <div class="container">
        <form method="POST" class="form" role="form">
            {{ form.csrf_token }}
            <input class="btn btn-primary" id="submit" name="submit" type="submit"
                   value="Summit">
            <hr/>
            <textarea name="markdown" id="markdown" data-provide="markdown" data-width="600"
                      rows="10"></textarea>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='bootstrap-markdown/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('.static', filename='bootstrap-markdown/locale/bootstrap-markdown.zh.js') }}"></script>
{% endblock %}
