{% set active_page = 'gm_tools' %}
{% set active_side_nav_bar = 'announcement' %}
{% extends 'gm_tools_layout.html' %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('.static', filename='bootstrap-markdown/css/bootstrap-markdown.min.css') }}"
          rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='jsoneditor.js') }}"></script>
    <script>
        JSONEditor.defaults.theme = 'bootstrap3';
    </script>
{% endblock %}
{#{% block head %}#}
{#    {{ super() }}#}
{#    <link href="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/themes/explorer/theme.css') }}" media="all"#}
{#          rel="stylesheet"#}
{#          type="text/css"/>#}
{#    <link href="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/css/fileinput.min.css') }}" media="all"#}
{#          rel="stylesheet" type="text/css"/>#}
{#    <script src="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/js/plugins/sortable.js') }}"#}
{#            type="text/javascript"></script>#}
{#    <script src="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/js/fileinput.js') }}"#}
{#            type="text/javascript"></script>#}
{#    <script src="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/js/locales/zh.js') }}"#}
{#            type="text/javascript"></script>#}
{#    <script src="{{ url_for('.static', filename='kartik-v-bootstrap-fileinput/themes/explorer/theme.js') }}"#}
{#            type="text/javascript"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>#}
{#{% endblock %}#}
{% block main_content %}
    {% block flash_message %}
        {{ super() }}
    {% endblock %}
    <div class="table-responsive">
        <br/>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false" id="button2" value="">
                Select Config Path <span class="caret"></span>
            </button>
            {% if cos_path != null %}
                <ul class="dropdown-menu" id="button2-menu">
                    {% for key in cos_path %}
                        <li><a href="#" value="{{ cos_path[key]|e }}">{{ key }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button id="submit" class="btn btn-primary">Submit Announcements
            {#                    <br/>#}
            {#                    <span id='valid_indicator'></span>#}
        </button>
        <hr/>
        <h2>Current Announcement</h2>
        <div class="table-responsive">
                <textarea name="markdown2" id="markdown2" readonly="readonly" rows="10" cols="50"
                          class="form-control"></textarea>
        </div><!--/table-resp-->
        <hr/>
        <label class="control-label">Upload Announcement File</label>
{#        <input id="input-announcement" name="inputfile[]" type="file" class="file-loading" accept="text/plain">#}
        <div id='editor_holder'></div>
        <form method="post" name="announcement" id="announcement_form" hidden="hidden">
            {{ announcement_form.csrf_token }}
            <textarea name="markdown" id="markdown" class="form-control" hidden="hidden"></textarea>
            <textarea name="extra" id="extra" class="form-control" hidden="hidden"></textarea>
        </form>
    </div><!--/table-resp-->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='bootstrap-markdown/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('.static', filename='bootstrap-markdown/locale/bootstrap-markdown.zh.js') }}"></script>
    <script>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        $("#button2-menu li a").click(function () {
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            $(this).parents('.btn-group').find('#button2').attr('value', $(this).attr('value'));
            var extra = document.getElementById('extra');
                        extra.value = JSON.stringify({"url": $(this).attr('value')}, null, 2);
            $.post($SCRIPT_ROOT + "/gm/gmtools/check_announcement", {"url": $(this).attr('value')}, function (resp) {
                $("#markdown2").html(resp);
            });
        });
{#        $("#input-announcement").fileinput({#}
{#            theme: "explorer",#}
{#            uploadUrl: $SCRIPT_ROOT + "/gm/gmtools/upload_announcement",#}
{#            minFileCount: 1,#}
{#            maxFileCount: 1,#}
{#            overwriteInitial: false,#}
{#            allowedFileExtensions: ['json'],#}
{#            previewFileIcon: '<i class="fa fa-file"></i>',#}
{#            initialPreview: [],#}
{#            initialPreviewAsData: true, // defaults markup#}
{#            uploadExtraData: function () {#}
{#                return {#}
{#                    url: $("#button2").attr('value'),#}
{#                }#}
{#            },#}
{#            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions#}
{#            previewFileIconSettings: { // configure your icon file extensions#}
{#                'txt': '<i class="fa fa-file-text-o text-info"></i>',#}
{#            },#}
{#            previewFileExtSettings: { // configure the logic for determining icon file extensions#}
{#                'txt': function (ext) {#}
{#                    return ext.match(/(txt|ini|csv|java|php|js|css)$/i);#}
{#                },#}
{#            }#}
{#        });#}
        var starting_value = [
            {
                Title: "t1",
                StartTime: "0",
                StopTime: "0",
                Contents: [
                    {
                        SubTitle: "sb-1",
                        SubContents: "sc-1",

                    }
                ],
            },
            {
                Title: "t2",
                StartTime: "0",
                StopTime: "0",
                Contents: [
                    {
                        SubTitle: "sb-2",
                        SubContents: "sc-2",

                    }
                ],
            },
        ];
        var editor = new JSONEditor(document.getElementById('editor_holder'), {
            schema: {
                type: "array",
                title: "Announcements",
                format: "tabs",
                items: {
                    type: "object",
                    title: "announcement",
                    properties: {
                        Title: {
                            type: "string",
                        },
                        StartTime: {
                            type: "string",
                        },
                        StopTime: {
                            type: "string",
                        },
                        Contents: {
                            type: "array",
                            format: "tabs",
                            items: {
                                type: "object",
                                title: "content",
                                properties: {
                                    SubTitle: {
                                        type: "string"
                                    },
                                    SubContents: {
                                        type: "string",
                                        options: {
                                            format:"textarea"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            startval: starting_value,
        });
        document.getElementById('submit').addEventListener('click', function () {
            var json = editor.getValue();
            var markdown = document.getElementById('markdown');
            var announcement_form = document.getElementById('announcement_form');
            markdown.value = JSON.stringify(json, null, 2);
            announcement_form.submit();
        });
    </script>
{% endblock %}
