{% set active_page = 'gm_tools' %}
{% set active_side_nav_bar = 'account manage' %}
{% extends 'gm_tools_layout.html' %}
{% set button_set = [
('#exampleModal','modal1','Open modal 1'),
('#exampleModal','modal2','Open modal 2'),
] %}
{% block page_header %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    {% block flash_message %}
        {{ super() }}
    {% endblock %}
    <div class="row placeholders">
        {% for modal,name,message in button_set %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{ modal|e }}"
                        data-whatever="{{ name|e }}">
                    {{ message|e }}
                </button>
            </div>
        {% endfor %}
    </div>
    {% block pop_up %}
        {{ super() }}
    {% endblock %}
    <h2 class="sub-header">User List</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Authority</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in page_user_list %}
                <tr>
                    <th>{{ user.userName|e }}</th>
                    <th>{{ user.authority|e }}</th>
                    <th>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal"
                                data-whatever="{{ user.userName|e }},{{ user.authority|e }}">
                            click
                        </button>
                    </th>
                    <th>
                        <button type="button" class="btn btn-primary"
                                onclick="confirmDelete('{{ user._id|e }}')">
                            click
                        </button>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
    <script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{{ url_for('static', filename='pop_up_form.js') }}"></script>
{#    <script src="{{ url_for('static', filename='base.js') }}"></script>#}
{% endblock %}
