{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% set navigation_bar = [
    (url_for('index'), 'index', 'home'),
    (url_for('about'), 'about', 'about'),
] %}
{% set authority_list = [('none','none'),('gm_1','gm_1'),('gm_2','gm_2'),('gm_3','gm_3')] %}
{% block styles %}
    {{ super() }}
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tick Tok Tick</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                        <li class="{% if id == active_page %}active{% endif %}">
                            <a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                    {% if current_user.is_authenticated %}
                        <li class=" {% if 'server_console' == active_page %}active{% endif %}">
                            <a href="{{ url_for('server_console') }}">server console</a></li>
                        <li class=" {% if 'gm_tools' == active_page %}active{% endif %}">
                            <a href="{{ url_for('gm_tools') }}">gm tools</a></li>
                        <li><a href="{{ url_for('logout') }}">logout</a></li>
                    {% else %}
                        <li class=" {% if 'login' == active_page %}active{% endif %}">
                            <a href="{{ url_for('login') }}">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_header %}

        {% endblock %}
        {% block page_content %}

        {% endblock %}
    </div>
{% endblock %}

{% block flash_message %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message|e }}</strong>
        </div>
    {% endfor %}
{% endblock %}
{% block edit_account_form %}
    <form method="post" name="edit_account" id="edit_account_form">
        {{ edit_account_form.csrf_token }}
        <div class="form-group">
            <label for="userName" class="control-label">User Name:</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="User"
                   required
                   autofocus>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Password"
                   required>
        </div>
        <div class="form-group">
            <label for="confirm_pwd" class="control-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm_pwd" name="confirm_pwd"
                   placeholder="Password"
                   required>
        </div>
        <div class="form-group" id="authority_div">
            <label for="authority" class="control-label">Change Authority:</label>
            <select id="authority" name="authority" class="form-control" required>
                {% for key,value in authority_list %}
                        <option value="{{ key|e }}">{{ value|e }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit"
               value="summit">
    </form>
{% endblock %}