{% set active_page = 'login' %}
{% extends 'layout.html' %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% block page_content %}
    {#    {{ wtf.quick_form(form) }}#}
    {% block flash_message %}
        {{ super() }}
    {% endblock %}
    <form class="form-signin" method="post" name="login">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please login</h2>
        <label for="userName" class="sr-only">User</label>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="User" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input id="rememberMe" name="rememberMe" type="checkbox" value="y"> remember-me
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit" value="login">
    </form>
{% endblock %}
